<div id="main-content" class="container">
	<div class="row">
		<div class="siderbar">

			<%= render'sidebar'%>

		</div>

		<div id="main" class="main-content span9">
			<div class="row">
				<div class="span2 offset1">
					<div class="list_name">
						<%= link_to current_user.username, show_user_path({username: current_user.username})%>
					</div>
					<img src="/assets/user/profile-img.png"/>
					<div class="progress progress-danger progress-striped active" id="health">
						<div class="bar" style="width:<%= x = current_user.robot.current_health.to_f / current_user.robot.max_health.to_f * 100.0 %>%;" ><%= current_user.robot.current_health %>
						</div> 
						<small class='pull-right' style="color: black" ><%= current_user.robot.max_health %></small>
					</div>
					<div class="stats">
						<ul id="stats">
							<li>
								Attack
								<span class="pull-right">
									<%= current_user.robot.stat.attack/2 %> - <%= current_user.robot.stat.attack %> 
								</span>
							</li>
							<li>
								Strength 
								<span class="pull-right"> 
									<%= current_user.robot.stat.strength %> 
								</span>
							</li> 
							<li>
								Agility 
								<span class="pull-right"> 
									<%= current_user.robot.stat.agility %> 
								</span>
							</li>
							<li>
								Intelligence 
								<span class="pull-right"> 
									<%= current_user.robot.stat.intelligence %> 
								</span>
							</li> 
							<li>
								Stamina 
								<span class="pull-right"> 
									<%= current_user.robot.stat.stamina %> 
								</span>
							</li> 
							<li>
								Defence 
								<span class="pull-right"> 
									<%= current_user.robot.stat.defence %> 
								</span>
							</li>  
							<li>
								Armor 
								<span class="pull-right"> 
									<%= current_user.robot.stat.armor %> 
								</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="span2">
					<div id="validation">
					<% if @mob != nil %>
						<% if @mob.lost != true %>
							<% if @mob.level == current_user.robot.level %>						
								<%= button_to "Attack", main_battle_path({id: @mob.id, oponent: "Mob"}), :class => 'btn btn-success', remote: true, :method => :get %>
							<% end %>
						<% end %>
					<% else %>
						<% if @user != nil %>
							<% if @user.robot.level < (current_user.robot.level + 2) && @user.robot.level > (current_user.robot.level - 2) %>
								<% b = Battle.where(:robot_id => @user.robot.id, :oponent_id => current_user.robot.id) + Battle.where(:robot_id => current_user.robot.id, :oponent_id => @user.robot.id)
	 								@win_ratio = 0
	 								b.each do |f|
	 									if f.winner == current_user.username
	 										@win_ratio += 1
	 									else 
	 										@win_ratio -= 1
	 									end 
	 								end
		 						%>
	 							<% if @win_ratio < 3 %>
									<%= button_to "Attack", main_battle_path({id: @user.robot.id, oponent: "Robot"}), :class => 'btn btn-success', remote: true, :method => :get %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					</div>
				</div>
				<div class="span2">
					<% if current_user.robot.in_fight == false %>
						<% if @mob.blank? %>
							<% if @user.blank? %>
								Find someone 	
								<%= link_to '<img src="/assets/Question_mark.PNG"/>'.html_safe, battlefield_list_path %>
							<% else %>
								<div class="list_name">
									<%= link_to @user.username, show_user_path({username: @user.username})%>
								</div>
								<img src="/assets/user/profile-img.png"/>
								<div class="progress progress-danger progress-striped active" id="health">
									<div class="bar" style="width:<%= x = @user.robot.current_health.to_f / @user.robot.max_health.to_f * 100.0 %>%;" ><%= @user.robot.current_health %>
									</div> 
									<small class='pull-right' style="color: black" ><%= @user.robot.max_health %></small>
								</div>
								<div class="stats">
									<ul id="stats">
										<li>
											Attack
											<span class="pull-right">
												<%= @user.robot.stat.attack/2 %> - <%= @user.robot.stat.attack %> 
											</span>
										</li>
										<li>
											Strength 
											<span class="pull-right"> 
												<%= @user.robot.stat.strength %> 
											</span>
										</li> 
										<li>
											Agility 
											<span class="pull-right"> 
												<%= @user.robot.stat.agility %> 
											</span>
										</li>
										<li>
											Intelligence 
											<span class="pull-right"> 
												<%= @user.robot.stat.intelligence %> 
											</span>
										</li> 
										<li>
											Stamina 
											<span class="pull-right"> 
												<%= @user.robot.stat.stamina %> 
											</span>
										</li> 
										<li>
											Defence 
											<span class="pull-right"> 
												<%= @user.robot.stat.defence %> 
											</span>
										</li>  
										<li>
											Armor 
											<span class="pull-right"> 
												<%= @user.robot.stat.armor %> 
											</span>
										</li>
									</ul>
								</div>
							<% end %>							
						<% else %>	
								<%= @mob.name%>						
								<img src="/assets/mob/<%= @mob.picture %>.jpg"/>
								<div class="progress progress-danger progress-striped active" id="health">
									<div class="bar" style="width: 100%;" ><%= (@mob.stat.stamina - 33)*30 + 1000 %>
									</div> 
									<small class='pull-right' style="color: black" ><%= (@mob.stat.stamina - 33)*30 + 1000 %></small>
								</div>
								<div class="stats">
									<ul id="stats">
										<li>
											Attack
											<span class="pull-right">
												<%= @mob.stat.attack/2 %> - <%= @mob.stat.attack %> 
											</span>
										</li>
										<li>
											Strength 
											<span class="pull-right"> 
												<%= @mob.stat.strength %> 
											</span>
										</li> 
										<li>
											Agility 
											<span class="pull-right"> 
												<%= @mob.stat.agility %> 
											</span>
										</li>
										<li>
											Intelligence 
											<span class="pull-right"> 
												<%= @mob.stat.intelligence %> 
											</span>
										</li> 
										<li>
											Stamina 
											<span class="pull-right"> 
												<%= @mob.stat.stamina %> 
											</span>
										</li> 
										<li>
											Defence 
											<span class="pull-right"> 
												<%= @mob.stat.defence %> 
											</span>
										</li>  
										<li>
											Armor 
											<span class="pull-right"> 
												<%= @mob.stat.armor %> 
											</span>
										</li>
									</ul>
								</div>
						<% end %>							
					<% else %>
						<img src="/assets/user/profile-img.png"/>
					<% end %>
				</div>
			</div>
			<div class="span2 ">
					<div id="result"></div>
				</div>
		</div>
	</div><!-- /row -->
</div><!-- /container -->
