<div id="main-content" class="container">
	<div class="row">
		<div class="siderbar">

			<%= render'sidebar'%>

		</div>
		<div id="main" class="main-content span9">
			<div class="row">
				<h2 align="center"> Change your picture </h2>
				<div align="center" id="change_pic" >
					<% if current_user.pictures.last %>
						<%= image_tag current_user.pictures.last.avatar.url(:medium) %>
					<% else %>
						<img src="/assets/user/profile-img.png" alt="">
					<% end %>
					<%= form_for (@picture), :url => pictures_path, :html => { :multipart => true } do |f| %>
					  	<p id="notice">
					  		<% if notice != "Picture wasn't successfully created." %>
					  			<% notice = "" %>
					  		<% end %>
				  			<%= notice %>
					  	</p>

				  		<div class="field">
					    	<%= f.file_field :avatar %>
					  	</div>
					  	<div class="actions">
					    	<%= f.submit %>
					  	</div>
					<% end %>			
				</div>
			</div>
		</div>
	</div>
</div>