<div id="main-content" class="container">
	<div class="row">
		<div class="siderbar">

			<%= render'sidebar'%>

		</div>
		<div id="main" class="main-content span9">
			<div class="row">
				<div class="equipment span3">
					<h4 class="section-title">Your equipment</h4>
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
				</div><!-- /equipment -->
				<div class="inventory span6">
					<h4 class="section-title">Inventory</h4>
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
				</div><!-- /equipment -->
			</div>

			<div class="recent-activity">
				<h4 class="section-title">Recent Activity</h4>
				<% if @battles != nil %>		
	 				<ul>
						<% @battles.first(10).reverse_each do |b| %>
							<% if b.robot_id == current_user.robot.id %>
								<li class ="list_name">
									<%= link_to current_user.username, show_user_path({username: current_user.username}) %>  attacked 
									<% if b.oponent_type == "Robot" %>
										<%= link_to Robot.find(b.oponent_id).name, show_user_path({username: Robot.find(b.oponent_id).name}) %>
										(Robot)
									<% else %>
										<%= Mob.find(b.oponent_id).name %>
										(Mob)
									<% end %>
									and 
									<% if b.winner == current_user.username %>
										won the battle !!!
									<% else %>
										lost the battle !!!
									<% end %>
								</li>
							<% else %>
								<li><%= current_user.username %> was attacked by <%= Robot.find(b.robot_id).name %>
									(Robot) and 
									<% if b.winner == current_user.username %>
										won the battle !!!
									<% else %>
										lost the battle !!!
									<% end %>
								</li>
							<% end %>
						<% end %>
					</ul>
				<% else %>
					<p> There is none for now ! </p>
				<% end %>
			</div><!-- /recent-actibity -->
		</div><!-- /main-content -->
	</div><!-- /row -->
</div><!-- /container -->
