<div id="main-content" class="container">
	<div class="row">

		<aside id="sidebar" class="span3">

			<div class="btn-group wide-fat">
				<button class="btn btn-large">Dashboard</button>
				<button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><%= link_to "Battlefield", battlefield_path %></li>
					<li><%= link_to "Messages", user_messages_path %></li>
					<li><%= link_to "General Shop ", user_general_shop_path %></a></li>
					<li><%= link_to "Consumables Shop", user_consumables_shop_path %> </a></li>
					<li><%= link_to "VipZone", user_vipzone_path %> </a></li>
					<li><%= link_to "Search", user_search_path %> </a></li>
					<li><%= link_to "Fight", fight_path %> </a></li>
				</ul>
			</div>

			<div class="user-info">
				<h2 class='user-name'> <%= @user.username %> </h2>
				<h4 class="user-level">Level: <%= @user.robot.level%> </h4>
				<% if @user.robot.unused_talent_points > 0 %>
					<div style="display: inline;">
						<span class="label label-warning" id="unused_talent_points"> +<%= @user.robot.unused_talent_points%> </span>
					</div>
				<% end %>
			</div>

			<div class="profile-image">
				<img src="/assets/user/<%= @user.picture%>" alt="">
			</div>
			<div class='progress-bar'>
				<div class="progress progress-danger progress-striped active" id="health">
					<div class="bar" style="width:<%= x = @user.robot.current_health.to_f / @user.robot.max_health.to_f * 100.0 %>%;" >
						<%= @user.robot.current_health %>
					</div> 
				<small class='pull-right' style="color: black" ><%= @user.robot.max_health %></small>
				</div>
			</div>
			<div class="stats">
				<ul id="stats">
					<li>
						Attack
						<span class="pull-right">
							<%= @user.robot.stat.attack/2 %> - <%= @user.robot.stat.attack %> 
						</span>
					</li>
					<li>
						Strength 
						<span class="pull-right"> 
							<%= @user.robot.stat.strength %> 
						</span>
					</li> 
					<li>
						Agility 
						<span class="pull-right"> 
							<%= @user.robot.stat.agility %> 
						</span>
					</li>
					<li>
						Intelligence 
						<span class="pull-right"> 
							<%= @user.robot.stat.intelligence %> 
						</span>
					</li> 
					<li>
						Stamina 
						<span class="pull-right"> 
							<%= @user.robot.stat.stamina %> 
						</span>
					</li> 
					<li>
						Defence 
						<span class="pull-right"> 
							<%= @user.robot.stat.defence %> 
						</span>
					</li>  
					<li>
						Armor 
						<span class="pull-right"> 
							<%= @user.robot.stat.armor %> 
						</span>
					</li>
				</ul>
			</div>
		</aside><!-- /sidebar -->

		<div id="main" class="main-content span9">
			<div class="row">
				<div class="equipment span3">
					<h4 class="section-title">Your equipment</h4>
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
				</div><!-- /equipment -->
				<div class="inventory span6">
					<h4 class="section-title">Inventory</h4>
					<div class="scrollbar pre-scrollable">
						<div class="item">
							<a href=""><img data-animation=false data-trigger=hover src="/assets/jet-engine.png" alt="" data-toggle="popover" data-placement="right" data-content="Attack:</br>Strength:</br>Agility:</br>Intelegence:</br>Stamina:</br>Defence:</br>Armor:"  title="Item name" data-original-title="Popover on top"></a>
						</div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
					</div>
				</div><!-- /equipment -->
			</div>

			<div class="recent-activity">
				<h4 class="section-title">Recent Activity</h4>
				<% if @battles != nil %>		
	 				<ul>
						<% @battles.first(10).reverse_each do |b| %>
							<% if b.robot_id == @user.robot.id %>
								<li><%= @user.username %> attacked 
									<% if b.oponent_type == "Robot" %>
										<%= Robot.find(b.oponent_id).name %>
										(Robot)
									<% else %>
										<%= Mob.find(b.oponent_id).name %>
										(Mob)
									<% end %>
									and 
									<% if b.winner == @user.username %>
										won the battle !!!
									<% else %>
										lost the battle !!!
									<% end %>
								</li>
							<% else %>
								<li><%= @user.username %> was attacked by <%= Robot.find(b.robot_id).name %>
									(Robot) and 
									<% if b.winner == @user.username %>
										won the battle !!!
									<% else %>
										lost the battle !!!
									<% end %>
								</li>
							<% end %>
						<% end %>
					</ul>
				<% else %>
					<p> There is none for now ! </p>
				<% end %>
			</div><!-- /recent-actibity -->
		</div><!-- /main-content -->
	</div><!-- /row -->
</div><!-- /container -->
