<div id="main-content" class="container">
	<div class="row">

		<aside id="sidebar" class="span3">

			<div class="btn-group wide-fat">
				<button class="btn btn-large">Dashboard</button>
				<button class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><%= link_to "Attack", battlefield_path({username: @user.username}) %></li>
					<li><%= link_to "Messages", messages_path %></li>
					<li><%= link_to "General Shop ", general_shop_path %></li>
					<li><%= link_to "Consumables Shop", consumables_shop_path %></li>
					<li><%= link_to "VipZone", vipzone_path %></li>
					<li><%= link_to "Search", search_path %> </li>
					<li><%= link_to "Fight", fight_path %> </li>
				</ul>
			</div>

			<div class="user-info">
				<h2 class='user-name'> <%= @user.username%> </h2>
				<h4 class='user-name'> Guild: <%= current_user.guild.name %></h4>
				<h4 class="user-level">Level: <%= @user.robot.level%> </h4>
				<% if @user.robot.unused_talent_points > 0 %>
					<div style="display: inline;">
						<span class="label label-warning" id="unused_talent_points"> +<%= @user.robot.unused_talent_points%> </span>
					</div>
				<% end %>
				<div style="display: inline-block">
					<div id="friend" style="display: inline-block">
					
						<%= render'friend' %>

					</div>
				</div>
			</div>

			<div class="profile-image">
				<% if @user.pictures.last %>
					<%= image_tag @user.pictures.last.avatar.url(:medium) %>
				<% else %>
					<img src="/assets/user/profile-img.png" alt="">
				<% end %> 
			</div>
			<div class='progress-bar'>
						<div class="progress progress-danger progress-striped active" id="health">
							<div class="bar" style="width:<%= x = @user.robot.current_health.to_f / @user.robot.max_health.to_f * 100.0 %>%;" >
								<%= @user.robot.current_health %>
							</div> 
						<small class='pull-right'><%= @user.robot.max_health %></small>
						</div>
			</div><!-- /progress-bar -->
			<div class="stats">
				<ul id="stats">
					<li class="stat">
						<p style="display: inline" data-animation=false data-trigger=hover alt="" data-toggle="popover" data-placement="top" data-content="This is the range of a normal robotic's hit" title="" data-original-title="Attack">Attack</p>
						<span class="pull-right">
							<%= @user.robot.stat.attack/2 %> - <%= @user.robot.stat.attack %> 
						</span>
					</li>
					<li class="stat">
						<p style="display: inline" data-animation=false data-trigger=hover alt="" data-toggle="popover" data-placement="top" data-content="This is the power of the special attack, which is engaged on every third hit" title="" data-original-title="Strength">Strength</p> 
						<span class="pull-right"> 
							<%= @user.robot.stat.strength %> 
						</span>
					</li> 
					<li class="stat">
						<p style="display: inline" data-animation=false data-trigger=hover alt="" data-toggle="popover" data-placement="top" data-content="This is the chance of striking an attack with 40% more power" title="" data-original-title="Agility">Agility</p> 
						<span class="pull-right"> 
							<%= @user.robot.stat.agility %> 
						</span>
					</li>
					</li> 
					<li class="stat">
						<p style="display: inline" data-animation=false data-trigger=hover alt="" data-toggle="popover" data-placement="top" data-content="This is the resource, required for using the special attack" title="" data-original-title="Intelligence">Intelligence</p> 
						<span class="pull-right"> 
							<%= @user.robot.stat.intelligence %> 
						</span>
					</li>
					</li> 
					<li class="stat">
						<p style="display: inline" data-animation=false data-trigger=hover alt="" data-toggle="popover" data-placement="top" data-content="These are the hit points of the robot" title="" data-original-title="Stamina">Stamina</p> 
						<span class="pull-right"> 
							<%= @user.robot.stat.stamina %> 
						</span>
					</li>
					</li> 
					<li class="stat">
						<p style="display: inline" data-animation=false data-trigger=hover alt="" data-toggle="popover" data-placement="top" data-content="This is the chance of completely evading an attack" title="" data-original-title="Defence">Defence</p> 
						<span class="pull-right"> 
							<%= @user.robot.stat.defence %> 
						</span>
					</li>
					</li>  
					<li class="stat">
						<p style="display: inline" data-animation=false data-trigger=hover alt="" data-toggle="popover" data-placement="top" data-content="This attribute's purpose is to reduce the enemies damage" title="" data-original-title="Armor">Armor</p> 
						<span class="pull-right"> 
							<%= @user.robot.stat.armor %> 
						</span>
					</li>
					</li>
				</ul>
			</div>
		</aside><!-- /sidebar -->

		<div id="main" class="main-content span9">
			<div class="row">
				<div class="equipment span3">
					<h4 class="section-title">Your equipment</h4>
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
					<div class="item empty"></div><!-- /item -->
				</div><!-- /equipment -->
				<div class="inventory span6">
					<h4 class="section-title">Inventory</h4>
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
						<div class="item empty"></div><!-- /item -->
				</div><!-- /equipment -->
			</div>

			<div class="recent-activity">
				<h4 class="section-title">Recent Activity</h4>
				<% if @battles != nil %>		
	 				<ul> 
						<% @battles.first(10).reverse_each do |b| %>
							<% if b.robot_id == @user.robot.id %>
								<li class ="list_name">
									<%= @user.username %> attacked 
									<% if b.oponent_type == "Robot" %>
									<%= link_to Robot.find(b.oponent_id).name, show_user_path({username:Robot.find(b.oponent_id).name}) %>
										(Robot)
									<% else %>
										<%= Mob.find(b.oponent_id).name %>
										(Mob)
									<% end %>
									and 
									<% if b.winner == @user.username %>
										won the battle !!!
									<% else %>
										lost the battle !!!
									<% end %>
								</li>
							<% else %>
								<li class="list_name">
									<%= @user.username %> 
									was attacked by 
									<%= link_to Robot.find(b.robot_id).name, show_user_path({username: Robot.find(b.robot_id).name}) %>
									(Robot) and 
									<% if b.winner == @user.username %>
										won the battle !!!
									<% else %>
										lost the battle !!!
									<% end %>
								</li>
							<% end %>
						<% end %>
					</ul>
				<% else %>
					<p> There is none for now ! </p>
				<% end %>
			</div><!-- /recent-actibity -->
		</div><!-- /main-content -->
	</div><!-- /row -->
</div><!-- /container -->
